<script id="t-empty" type="text/html">
    <div class="empty-component" data-bind="with: data">
        <h1 data-bind="text: heading"></h1>
        <div data-bind="text: body"></div>
    </div>
</script>
