<script id="t-error" type="text/html">

    <div class="error-component" data-bind="with: data">
        <div class="error-heading" data-bind="text: heading"></div>
        <div class="error-detail">
            <code data-bind="text: verb.toUpperCase()"></code>
            <span data-bind="text: body"></span>
        </div>
    </div>

</script>
