<script id="t-login" type="text/html">
    <form id="user-login" action="/login" method="post" role="form">
        <div class="form-group">
            <label for="user-login-email">Email address</label>
            <input type="email" name="email" class="form-control" id="user-login-email" placeholder="Enter email" />
        </div>
        <!-- <div class="form-group">
            <label for="user-login-password">Password</label>
            <input type="password" name="Password" class="form-control" id="user-login-password" />
        </div> -->
        <button class="btn btn-success" type="submit">Login</button>
    </form>
</script>
