<script id="t-product-grid" type="text/html">
    <div class="product-component">

        <div class="row" data-bind="foreach: { data: data.products(), as: 'product' }">
            <div class="col-sm-6 col-md-4 product-col">
                <div class="thumbnail">
                    <a class="thumbnail-img" href="javascript:void(0);" data-bind="click: product.click">
                        <img src="" alt="" data-bind="src: product.thumbnailLink, attr: { alt: product.thumbnailAlt }">
                    </a>

                    <div class="caption">
                        <h3><a href="javascript:void(0);" data-bind="text: product.title, click: product.click"></a></h3>
                        <div class="description" data-bind="html: product.description"></div>
                        <div class="overlay"></div>
                        <a class="buy-now" href="javascript:void(0);" data-bind="currency: product.price, click: product.buy"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>
