<script id="t-register" type="text/html">
    <form id="user-registration-form" action="/register" method="post" role="form">
        <div class="form-group">
            <label for="user-registration-email">Email address</label>
            <input type="email" name="email" class="form-control" id="user-registration-email" placeholder="Enter email" />
        </div>
        <!-- <div class="form-group">
            <label for="user-registration-password">Password</label>
            <input type="password" name="Password" class="form-control" id="user-registration-password" />
        </div>
        <div class="form-group">
            <label for="user-registration-confirmpassword">Confirm Password</label>
            <input type="password" name="ConfirmPassword" class="form-control" id="user-registration-confirmpassword" />
        </div> -->
        <div class="form-group">
            <label for="user-registration-name">Name</label>
            <input type="text" name="name" class="form-control" id="user-registration-name" />
        </div>
        <button class="btn btn-success" type="submit">Register Now</button>
    </form>
</script>
