<script id="t-no-results" type="text/html">

    <div class="error-component" data-bind="with: data">
        <div class="error-detail">
            Your search 
            <code data-bind="text: searchterm"></code>
            did not match any products.
        </div>
    </div>
    
</script>